<% include header %>

<h1>Site Index</h1>
<% include menu %>


<% form_for("user", function(f){ %>
    <%- f.label_for("username") %>
    <%- f.text_field("username") %><br />

    <%- f.submit() %><br />
<% }) %>

<% include footer %>